<div class="content">
    <div id="carouselExampleAutoplaying" class="carousel slide carrusel" data-bs-ride="carousel">
        <div class="carousel-inner carrusel" >
          <div class="carousel-item active">
            <img src="../../../assets/capybara.jpg" class="d-block h-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/capys.jpg" class="d-block h-100 " alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/capys.jpg" class="d-block h-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="todays-deals">
        <h2>Descuentos</h2>
        <div class="container">
            <div class="flex-box">
                <span class="badge bg-success">50% de descuento</span>
                <img src="../../../assets/capybara.jpg" alt="" class="imagen-producto">
                <div class="description">
                    <span>Brand</span>
                    <h4 class="nombre-producto">Nombre del producto</h4>
                    <h5 class="precio">Precio</h5>
                </div>
                <button class="btn btn-primary">Agregar al carrito</button>
                <button class="btn-sm btn btn-outline-primary">Ver mas</button>
            </div>
            <div class="flex-box">
                <img src="../../../assets/capybara.jpg" alt="" class="imagen-producto">
                <div class="description">
                    <span>Brand</span>
                    <h4 class="nombre-producto">Nombre del producto</h4>
                    <h5 class="precio">Precio</h5>
                </div>
                <button class="btn btn-primary">Agregar al carrito</button>
                <button class="btn-sm btn btn-outline-primary">Ver mas</button>
            </div>
            <div class="flex-box">
                <img src="../../../assets/capybara.jpg" alt="" class="imagen-producto">
                <div class="description">
                    <span>Brand</span>
                    <h4 class="nombre-producto">Nombre del producto</h4>
                    <h5 class="precio">Precio</h5>
                </div>
                <button class="btn btn-primary">Agregar al carrito</button>
                <button class="btn-sm btn btn-outline-primary">Ver mas</button>
            </div>
            <div class="flex-box">
                <img src="../../../assets/capybara.jpg" alt="" class="imagen-producto">
                <div class="description">
                    <span>Brand</span>
                    <h4 class="nombre-producto">Nombre del producto</h4>
                    <h5 class="precio">Precio</h5>
                </div>
                <button class="btn btn-primary">Agregar al carrito</button>
                <button class="btn-sm btn btn-outline-primary">Ver mas</button>
            </div>
            <div class="flex-box">
                <img src="../../../assets/capybara.jpg" alt="" class="imagen-producto">
                <div class="description">
                    <span>Brand</span>
                    <h4 class="nombre-producto">Nombre del producto</h4>
                    <h5 class="precio">Precio</h5>
                </div>
                <button class="btn btn-primary">Agregar al carrito</button>
                <button class="btn-sm btn btn-outline-primary">Ver mas</button>
            </div>
            <div class="flex-box">
                <img src="../../../assets/capybara.jpg" alt="" class="imagen-producto">
                <div class="description">
                    <span>Brand</span>
                    <h4 class="nombre-producto">Nombre del producto</h4>
                    <h5 class="precio">Precio</h5>
                </div>
                <button class="btn btn-primary">Agregar al carrito</button>
                <button class="btn-sm btn btn-outline-primary">Ver mas</button>
            </div>
            
        </div>
    </div>
    <div class="banner">

    </div>

  </div>