<div class="container">
    <h1>Tendencias de Productos</h1>
    <div class="col-md-9">
      <div class="row" >
        <div *ngFor="let producto of tendencias" class="col-md-4 mb-4">
          <div class="card">
            <img [src]="producto.Imagen" class="card-img-top" alt="{{ producto.Nombre }}">
            <div class="card-body">
              <h5 class="card-title">{{ producto.Nombre }}</h5>
              <p class="card-text">{{ producto.Marca }}</p>
              <p class="card-text">{{ producto.Precio | currency:'MXN' }}</p>
              <a class="btn btn-primary">Ver más</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
  