<div class="row">
    
<div class="container card  mb-3 col-5">
        
    <form class="formulario" [formGroup]="logInForm" (ngSubmit)="logIn()">
    
    <h1 class="card-header">Iniciar Sesión</h1>
     <div class="contenedor card-body">
     
         
        <div class="input-contenedor mb-3">
         <label for="floatingInput" class="form-label">Correo Electrónico</label>
         <input formControlName='email' type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        </div>
         
        <div class="input-contenedor mb-3">
         <label for="floatingInput" class="form-label">Contraseña</label>           
         <input formControlName='password' type="password" class="form-control" placeholder="Contraseña">
        </div>
        <div *ngIf="errorMessage">
            <small class="text-danger">{{ errorMessage }}</small>
            <br>
        </div>
         <input type="submit" class="btn btn-primary" value="Iniciar Sesión" >
        <div class="undertext" style="margin-top: 5px;">
            <p>¿Todavía no tienes una cuenta? <a class="link" routerLink="/register">Registrarte </a></p>
        </div>
     </div>
    </form>
</div>
</div>


<router-outlet></router-outlet>