
<div class="container card bg-secondary mb-3" style="max-width: 30rem;">
        
    <form class="formulario" [formGroup]="logInForm" (ngSubmit)="logIn()">
    
    <h1 class="card-header">Inicio Sesion</h1>
     <div class="contenedor card-body">
     
         
        <div class="input-contenedor mb-3">
         <label for="floatingInput" class="form-label">Nombre de Usuario</label>
         <input formControlName='username' type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        </div>
         
        <div class="input-contenedor mb-3">
         <label for="floatingInput" class="form-label">Contraseña</label>           
         <input formControlName='password' type="password" class="form-control" placeholder="Contraseña">
        </div>
         <input type="submit" class="btn btn-primary" value="Login" >
        <div class="undertext" style="margin-top: 5px;">
            <p>¿No tienes una cuenta? <a class="link" routerLink="/register">Registrate </a></p>
        </div>
     </div>
    </form>
</div>
<router-outlet></router-outlet>