/* Estilo general del contenedor */
.container {
  padding: 40px;
  padding-top: 120px;
  max-width: 80%;
  margin: auto;
}

/* Estilo de la tarjeta */
.card {
  margin-top: 10px;
  width: 100%;
  height: fit-content;
}

/* Estilo del cuerpo de la tarjeta */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Estilo de la imagen */
.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Mejorar la apariencia del botón */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
