<div class="main">
    <table class="table table-hover">
        <tr class="table-dark">
            <th scope="row">Producto</th>
            <th scope="row">Cantidad</th>
            <th scope="row">Subtotal</th>
        </tr>
        <tr>
            <td >
                <div class="flex-box">
                <img src="../../../assets/productos/producto1.png" alt="" class="imagen-producto">
                <div class="description">
                    
                    <span>E-ATX</span>
                    <h4 class="nombre-producto">Gabinete Deepcool CH-780</h4>
                    <div class="opciones">
                        <button class="btn-sm btn btn-outline-primary">Ver más</button>
                        <a href="">Eliminar</a>
                    </div>
                </div>
            </div>
            </td>
            <td><input type="number" value="1" class="form-control"></td>
            <td>
                <span class="badge bg-success">50% de descuento</span>
                <h5 class="precio">$2,369.00 MXN</h5>
                <h5 class="precio-desc">$2,500.00 MXN</h5>
            </td>
        </tr>
        <tr>
            <td >
                <div class="flex-box">
                <img src="../../../assets/productos/producto1.png" alt="" class="imagen-producto">
                <div class="description">
                    
                    <span>E-ATX</span>
                    <h4 class="nombre-producto">Gabinete Deepcool CH-780</h4>
                    <div class="opciones">
                        <button class="btn-sm btn btn-outline-primary">Ver más</button>
                        <a href="">Eliminar</a>
                    </div>
                </div>
            </div>
            </td>
            <td><input type="number" value="1" class="form-control"></td>
            <td>
                <span class="badge bg-success">50% de descuento</span>
                <h5 class="precio">$2,369.00 MXN</h5>
                <h5 class="precio-desc">$2,500.00 MXN</h5>
            </td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td> Subtotal $500.00 MXN</td>
        </tr>
    </table>
    <div class="proceder-pago">
        <h1>Pagar</h1>
        <h4>Subtotal: $50000.00 MXN</h4>
        <button class="btn btn-primary" routerLink="/pago">Proceder a pago</button>
    </div>
</div>