<div class="main">
    <div class="carrito" *ngIf="hay==true">
    <table class="table table-hover ">
        <thead class="table-dark">
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of products">
                <td>
                    <div class="flex-box">
                        <img [src]="producto.Imagen" class="imagen-producto" alt="{{ producto.Nombre }}">
                        <div class="description">
                            <span>{{producto.Marca}}</span>
                            <h4 class="nombre-producto">{{producto.Nombre}}</h4>
                            <div class="opciones">
                                <button class="btn-sm btn btn-outline-primary">Ver más</button>
                                <a (click)="removeFromCart(producto)" class="eliminar">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="display: flex;">
                        <label for="exampleSelect1" class="form-label mt-1">Cantidad</label>
                        <select [value]="producto.Cantidad" class="form-select" id="cantidadSelect{{producto.IdProducto}}" [(ngModel)]="producto.Cantidad" (change)="updateCantidad(producto)">
                            <option *ngFor="let n of [1,2,3,4,5,6]" [value]="n">{{n}}</option>
                          </select>
                    </div>
                <td>
                    <h5 class="precio">{{ producto.Precio * producto.Cantidad | currency:"MXN" }}</h5>
                </td>
            </tr>
            <tr>
                <td> <button class="btn btn-outline-primary"(click)="emptyCarrito()">Vaciar carrito</button> </td>
                <td></td>
                <td> Subtotal: {{ calculateTotal() | currency:"MXN" }}</td>
            </tr>
          </tbody>

    </table>
    </div>
    <div class="nohaycarrito" *ngIf="hay==false">
        <h6>Todavia no hay productos en el carrito.</h6>
    </div>

    <div class="proceder-pago">
        <h1>Pagar</h1>
        <h4>Subtotal: {{ calculateTotal() | currency:"MXN" }}</h4>
        <button class="btn btn-primary" routerLink="/pago">Proceder a pago</button>
    </div>
</div>
