<div class="container mt-3">
    <div class="row">
      <!-- Sidebar for categories and filters -->
      <div class="col-md-3">
        <!-- Categories -->
        <div class="list-group" #categoryList>
            <h5 class="list-group-item list-group-item-action active">Categorías</h5>
            <div *ngFor="let categoria of categorias">
              <button class="list-group-item list-group-item-action" (click)="selectCategory(categoria)">
                {{ categoria.Categoria }}
              </button>
              <!-- Categorías hijas -->
              <div class="ml-3" *ngFor="let categoriaHija of categoriasHijas" [ngClass]="'category-' + categoria.IdCategoria" style="display: none;">
                <div *ngIf="categoria.IdCategoria == categoriaHija.IdCatParent">
                  <input type="checkbox" [value]="categoriaHija.IdCategoria"(click)="selectCategoryHija(categoriaHija)" >{{ categoriaHija.Categoria }}
                </div>
              </div>
            </div>
          </div>
          
         <!-- Categorías nietas -->
         <div #categoryList class="ml-5" *ngFor="let categoriaNietas of categoriasNietas" [ngClass]="'category-' + categoriaNietas.IdCatParent" style="display: none;">
           <div *ngIf="selectedCategoryHija?.IdCategoria == categoriaNietas.IdCatParent">
           <input type="checkbox" [value]="categoriaNietas.IdCategoria">{{ categoriaNietas.Categoria }}
           </div>
         </div>
  
        <!-- Price Range Filter -->
        <div class="mt-4">
          <h5>Rango de Precio</h5>
          <div class="form-group">
            <label for="priceRange">Precio: {{ precioMin }} - {{ precioMax }}</label>
            <input type="range" class="form-range" id="priceRangeMin" min="0" max="10000" [(ngModel)]="precioMin" (change)="filterProducts()">
            <input type="range" class="form-range" id="priceRangeMax" min="0" max="10000" [(ngModel)]="precioMax" (change)="filterProducts()">
          </div>
        </div>
  
        <!-- Sort Options -->
        <div class="mt-4">
          <h5>Ordenar por</h5>
          <select class="form-select" [(ngModel)]="sortOrder" (change)="sortProducts()">
            <option value="alphaAsc">Alfabético (A-Z)</option>
            <option value="alphaDesc">Alfabético (Z-A)</option>
            <option value="priceAsc">Precio (menor a mayor)</option>
            <option value="priceDesc">Precio (mayor a menor)</option>
          </select>
        </div>
      </div>
  
      <!-- Main content for products -->
      <div class="col-md-9">
        <div class="row">
          <div *ngFor="let producto of productosFiltrados" class="col-md-4 mb-4">
            <div class="card">
              <img [src]="producto.Imagen" class="card-img-top" alt="{{ producto.Nombre }}">
              <div class="card-body">
                <h5 class="card-title">{{ producto.Nombre }}</h5>
                <p class="card-text">{{ producto.Marca }}</p>
                <p class="card-text">{{ producto.Precio | currency:'MXN' }}</p>
                <a [routerLink]="['/producto', producto.IdProducto]" class="btn btn-primary">Ver más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
