
.content{
    display: flex;
}
.detalles{
    width: 65%;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px rgb(164, 164, 164);
    padding: 20px;
}
.direccion{
    margin-bottom: 15px;
}
.confirmar{
    position: sticky;
    top:130px;
    height: fit-content;
    border: solid 1px rgb(164, 164, 164);
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
}