
.container{
    width: 100%;
}

.content{
    padding-top: 90px;
    display: flex;
    margin: 20px;
}
.detalles{
    flex-basis: 65%;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px rgb(164, 164, 164);
    padding: 40px;
    border-radius: 10px;
}
.direccion{
    margin-bottom: 15px;
}
.confirmar{
    flex-basis: 25%;
    display:grid;
    position: sticky;
    top:120px;
    height: fit-content;
    border: solid 1px rgb(164, 164, 164);
    margin: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}
.btn-success{
    margin-top: 5px;
}
.line{
    border: solid 1px rgb(197, 197, 197);
    margin: 5px;
}